# Dependencias de Node (son miles de archivos, no se suben)
node_modules/

# Logs del sistema
npm-debug.log
logs/
*.log

# Archivos de entorno y secretos
.env

# Sesión de WhatsApp (¡MUY IMPORTANTE NO SUBIR ESTO!)
.wwebjs_auth/
.wwebjs_cache/

# Base de datos SQLite (No la subimos porque cambia localmente)
*.sqlite
*.db

# Archivos del sistema operativo
.DS_Store
Thumbs.db